{% extends "base.html" %}
{% block title %}Account Balances{% endblock %}
{% block content %}
    <h1>Account Balances</h1>
    <table>
        <thead>
            <tr>
                <th>Bank</th>
                <th>Date</th>
                <th>Balance</th>

            </tr>
        </thead>
        <tbody>
            {% for balance in account_balances %}
            <tr>
                <td>{{ balance.bank }}</td>
                <td>{{ balance.date }}</td>
                <td>{{ "%.2f" | format(balance.closing_balance) }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="balanceChart" style="width: 900px;height: 500px;"></div>
    <script id="balances-data" type="application/json">{{ account_balances_data | tojson | safe }}</script>
{% endblock %}

{% block scripts %}
<script>
    const accountBalances = JSON.parse(document.getElementById('balances-data').textContent);
    function renderBalanceChart() {
        const chartDom = document.getElementById('balanceChart');
            const myChart = echarts.init(chartDom);
            let option;
            const hdData = accountBalances.filter(function (item) {return item.bank ==='HDFC'}).map(item => [item['date'], item['closing_balance'].toFixed(0)]);
            const icData = accountBalances.filter(function (item) {return item.bank ==='ICICI'}).map(item => [item['date'], item['closing_balance'].toFixed(0)]);
            option = {
                title: {
                    text: 'Monthly Closing Balance'
                },
                tooltip: {
                    trigger: 'axis',
                },
  dataZoom: [
    {
      type: 'inside',
      start: 0,
      end: 100
    },
    {
      start: 50,
      end: 100
    }
  ],
                xAxis: {
                    type: 'time',
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: function (value) {
                            return value.toFixed(0);
                        }
                    }
                },
                series: [{
                    name: 'HDFC',
                    type: 'line',
                    data: hdData,
                },
            {
                    name: 'ICICI',
                    type: 'line',
                    data: icData,
                }]
            };

            myChart.setOption(option);

            // Handle chart resizing
            $(window).on('resize', function() {
                if (myChart) {
                    myChart.resize();
                }
            });
    }

    $(document).ready(function () {
        $('table').DataTable();
        renderBalanceChart();
    });
</script>
{% endblock %}
