<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - Finance App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div class="container">
            <div class="nav-item"  data-href="/"><span class="site-title">Finance App</span></div>
            <div class="nav-links">
                <div class="nav-item" data-href="/balances">Account Balances</div>
                <div class="nav-item" data-href="/transactions">Mutual Fund Transactions</div>
                <div class="nav-item" data-href="/performance">Mutual Fund Performance</div>
                <div class="nav-item" data-href="/fixed_deposits">Fixed Deposits</div>
                <div class="nav-item" data-href="{{ url_for('update_database_form') }}">Update Database</div>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    {% block scripts %}{% endblock %}
    <script>
        $(document).ready(function() {
            $('.nav-item').on('click', function() {
                var href = $(this).data('href');
                if (href) {
                    window.location.href = href;
                }
            });
        });
    </script>
</body>
</html>
