<!doctype html>
<title>Finance App</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <nav class="top-nav">
        <a href="/">Upload Data</a> |
        <a href="/balances">Account Balances</a> |
        <a href="/transactions">Mutual Fund Transactions</a> |
        <a href="/performance">Mutual Fund Performance</a>
    </nav>
    <h1>Finance Management Webapp</h1>
    <h2>Upload New Files</h2>
    <form method=post enctype=multipart/form-data>
      <div>
        <label for="mutual_funds_file">Mutual Funds File:</label>
        <input type="file" name="mutual_funds_file" id="mutual_funds_file">
      </div>
      <div>
        <label for="account_balances_file">Account Balances File:</label>
        <input type="file" name="account_balances_file" id="account_balances_file">
      </div>
      <input type=submit value=Upload>
    </form>
</body>
</html>
