{% extends "base.html" %}
{% block title %}Mutual Fund Performance{% endblock %}
{% block content %}
    <h1>Finance Management Webapp</h1>

    <div class="card">
        <div class="card-header">Summary</div>
        <div class="card-content" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
            <div>
                <p>Savings Account Balance: <b>{{ latest_balance }}</b></p>
                <p>Total Mutual Fund Value: <b>{{ total_mutual_fund_value }}</b></p>
                {% if total_fixed_deposit_amount is not none %}
                <p>Total Fixed Deposit Amount: <b>{{ total_fixed_deposit_amount }}</b></p>
                {% endif %}
            </div>
            <p class="networth">Net Worth <br><b>{{ total_net_worth }}</b></p>
        </div>
    </div>

    <h3>Upload New Files</h3>
    <form method=post enctype=multipart/form-data>
      <div>
        <label for="mutual_funds_file">Mutual Funds File:</label>
        <input type="file" name="mutual_funds_file" id="mutual_funds_file">
      </div>
      <div>
        <label for="account_balances_file">Account Balances File:</label>
        <input type="file" name="account_balances_file" id="account_balances_file">
      </div>
      <button type="submit">Upload</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
{% endblock %}
